---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/layout/BaseHead.astro";
import Nav from "../components/layout/Nav.astro";
import Footer from "../components/layout/Footer.astro";
import FormattedDate from "../components/ui/FormattedDate.astro";
import { Image } from "astro:assets";
import PlaceholderImage from "../assets/blog/placeholder.jpg";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
const parsedPubDate = pubDate instanceof Date ? pubDate : new Date(pubDate);
const parsedUpdatedDate = updatedDate
	? updatedDate instanceof Date
		? updatedDate
		: new Date(updatedDate)
	: undefined;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={heroImage || PlaceholderImage} />
	</head>

	<body>
		<Nav />
		<main class="w-full max-w-none m-0">
			<article>
				<div class="w-full">
					<Image
						width={1020}
						height={510}
						src={heroImage || PlaceholderImage}
						alt=""
						class="object-cover block mx-auto rounded-xl shadow-custom"
					/>
				</div>
				<div
					class="prose w-content max-w-[calc(100%-2rem)] mx-auto p-4"
				>
					<div class="mb-4 py-4 text-center leading-none">
						<div class="mb-2">
							<FormattedDate date={parsedPubDate} />
							{
								parsedUpdatedDate && (
									<div class="italic">
										Last updated on{" "}
										<FormattedDate
											date={parsedUpdatedDate}
										/>
									</div>
								)
							}
						</div>
						<h1 class="m-0 mb-2">{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
