---
import BaseHead from "../components/layout/BaseHead.astro";
import Nav from "../components/layout/Nav.astro";
import Footer from "../components/layout/Footer.astro";
import RssIcon from "../components/ui/RssIcon.astro";
import FormattedDate from "../components/ui/FormattedDate.astro";
import { Image } from "astro:assets";
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
	updatedDate?: string | Date;
	heroImage?: any;
	frontmatter?: any;
	icon?: any;
}

const { title, description, updatedDate, heroImage, frontmatter, icon } =
	Astro.props;
const actualTitle = title || frontmatter?.title;
const actualDescription = description || frontmatter?.description;
const actualUpdatedDate = updatedDate || frontmatter?.updatedDate;
const actualHeroImage = heroImage || frontmatter?.heroImage;
const parsedUpdatedDate = actualUpdatedDate
	? actualUpdatedDate instanceof Date
		? actualUpdatedDate
		: new Date(actualUpdatedDate)
	: undefined;
---

<html lang="en">
	<head>
		<BaseHead title={actualTitle} description={actualDescription} />
		<script>
			if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.classList.add('dark');
			}
		</script>
	</head>

	<body class="bg-background text-foreground">
		<Nav />
		<main>
			<article>
				<div>
					{
						actualHeroImage &&
						typeof actualHeroImage === "string" ? (
							<img
								width={1020}
								height={510}
								src={actualHeroImage}
								alt=""
							/>
						) : (
							actualHeroImage && (
								<Image
									width={1020}
									height={510}
									src={actualHeroImage}
									alt=""
								/>
							)
						)
					}
				</div>
				<div>
					<div>
						{
							parsedUpdatedDate && (
								<div>
									Last updated on:{" "}
									<FormattedDate date={parsedUpdatedDate} />
								</div>
							)
						}
						<h1>{actualTitle}{(icon && <RssIcon />)}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
